@namespace Observation.UI
@inherits MenuSubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root class="hidden">
	<label class="title">#ui.credits.title</label>

	<div class="credits">
		<div class="credit">
			<label class="credit-title">#ui.credits.credit.game</label>
			<label class="credit-subtitle">KUO</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Family Home" [Cluedo Night]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Pool" [Community Pool]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">#ui.credits.credit.menumusic</label>
			<label class="credit-subtitle">Deffcolony</label>
		</div>
		<div class="credit">
			<label class="credit-title">#ui.credits.credit.sounds</label>
			<label class="credit-subtitle">#ui.credits.credit.sounds.license</label>
		</div>
		<div class="credit">
			<label class="credit-title">#ui.credits.credit.models</label>
			<label class="credit-subtitle">#ui.credits.credit.models.license</label>
		</div>
		<div class="credit">
			<label class="credit-title">#ui.credits.credit.inspiration</label>
			<label class="credit-subtitle">Notovia</label>
		</div>
		<div class="legal-disclaimer">
			<label class="disclaimer-title">#ui.credits.disclaimer.title</label>
			<label>#ui.credits.disclaimer.text</label>
		</div>
	</div>

	<div class="button-container">
		<button icon="arrow_back" onclick="@Return">#ui.button.return</button>
	</div>
</root>
