@namespace Observation.UI
@inherits MenuSubPanel

<root class="hidden">
	<label class="title">Credits</label>
	
	<div class="credits">
		<div class="credit">
			<label class="credit-title">Game By</label>
			<label class="credit-subtitle">kEllie</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Family Home" [Cluedo Night]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Pool" [Community Pool]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">Inspired By I'm On Observation Duty</label>
			<label class="credit-subtitle">by Notovia</label>
		</div>
	</div>
	
	<div class="button-container">
		<button icon="arrow_back" onclick="@Return">Return</button>
	</div>
</root>
