Credits {
  position: absolute;
  pointer-events: all;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(40px) saturate(180%);
  z-index: 100;

  > .title {
    font-size: 50px;
    font-weight: 700;
    margin: 1.25rem;
    letter-spacing: -0.02em;
    text-align: center;
  }
  
  .credits {
    width: 50%;
    height: 64%;
    gap: 10px;
    margin: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .credit {
    width: 100%;
    padding: 4px;
    gap: 8px;
    flex-shrink: 0;
    flex-direction: column;
    
    > .credit-title {
      font-weight: 600;
      font-size: 25px;
    }
    
    > .credit-subtitle {
      font-size: 25px;
    }
  }
  
  .legal-disclaimer {
    flex-direction: column;
    flex-shrink: 0;
    font-size: 24px;
    flex-grow: 1;
    justify-content: flex-end;
    
    .disclaimer-title {
      font-weight: 500;
      color: yellow;
    }
  }

  > .button-container {
    width: 50%;
    gap: 10px;

    > button {
      width: 100%;
      margin-top: 10px;
    }
  }
  
  &.hidden {
    display: none;
  }
}