@namespace Observation.UI
@inherits MenuSubPanel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root class="hidden">
	<label class="title">Credits</label>

	<div class="credits">
		<div class="credit">
			<label class="credit-title">Game By</label>
			<label class="credit-subtitle">kEllie</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Family Home" [Cluedo Night]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">"Pool" [Community Pool]</label>
			<label class="credit-subtitle">Three Thieves</label>
		</div>
		<div class="credit">
			<label class="credit-title">Various sounds from freesound.org</label>
			<label class="credit-subtitle">Licensed under CC0</label>
		</div>
		<div class="credit">
			<label class="credit-title">Various models from sbox.game</label>
			<label class="credit-subtitle">Various Licenses</label>
		</div>
		<div class="credit">
			<label class="credit-title">Inspired By I'm On Observation Duty</label>
			<label class="credit-subtitle">by Notovia</label>
		</div>
		<div class="legal-disclaimer">
			<label class="disclaimer-title">Legal Disclaimer</label>
			<label>
				This game respects the original rights of the authors to the above used assets.
				If you believe your work is used unjustly, please contact me.
			</label>
		</div>
	</div>

	<div class="button-container">
		<button icon="arrow_back" onclick="@Return">Return</button>
	</div>
</root>
