Leaderboards {
  position: absolute;
  pointer-events: all;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(40px) saturate(180%);
  z-index: 100;
  
  .tab-selection {
    width: 50%;
    justify-content: space-between;
    gap: 10px;
    
    > button {
      width: 100%;
    }
  }
  
  .tabs {
    width: 50%;
    height: 75%;
    
    > .tab {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;

      > .title {
        font-size: 45px;
        font-weight: 500;
        text-shadow: 0 1px 3px black;
        flex-shrink: 0;
        margin: 10px;
      }
      
      > .subtab-selection {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        flex-shrink: 0;
        
        > button {
          width: 100%;
        }
      }

      .subtab {
        width: 100%;
        height: 100%;
        flex-direction: column;
      }

      .sub-title {
        font-size: 40px;
        font-weight: 500;
        margin: 10px;
        flex-shrink: 0;
      }
      
      .leaderboard {
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
        flex-grow: 1;

        > .title {
          font-size: 40px;
          font-weight: 500;
          margin: 10px;
          flex-shrink: 0;
        }
        
        .entry {
          width: 100%;
          height: 65px;
          padding: 5px;
          flex-shrink: 0;
          align-items: center;
          
          .entry-rank {
            width: 50px;
            font-weight: 200;
            font-size: 20px;
            margin: 10px;
          }
          
          .entry-displayname {
            font-size: 24px;
            margin: 10px;
            flex-grow: 1;
          }
          
          .entry-avatar {
            width: 50px;
            height: 50px;
            border-radius: 4px;
          }
          
          .entry-value {
            font-size: 20px;
            margin-right: 10px;
          }
          
          &.gold {
            .entry-displayname {
              color: #FFD700;
            }
          }

          &.silver {
            .entry-displayname {
              color: #C0C0C0;
            }
          }

          &.bronze {
            .entry-displayname {
              color: #CD7F32;
            }
          }
          
          &.me {
            .entry-displayname {
              color: brown;
            }
          }
        }
      }
      
      &.hidden {
        display: none;
      }
    }
  }

  > .button-container {
    width: 50%;
    gap: 10px;

    > button {
      width: 100%;
    }
  }
  
  &.hidden {
    display: none;
  }
}