@import "/UI/Styles/Buttons.scss";

$spacing-lg: 20px;
$container-width: 30%;
$container-height: 80%;

MainMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 1);
  backdrop-filter: blur(30px);
  color: white;
  font-family: "IBM Plex Mono";

  .stats {
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 24px;
    gap: 5px;
    margin: 10px;
    overflow-y: scroll;

    * {
      flex-shrink: 0;
    }
  }

  .container {
    width: $container-width;
    height: $container-height;
    margin-left: $spacing-lg;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;

    .title {
      font-size: 70px;
      font-weight: bold;
      text-transform: uppercase;
      text-stroke: 1px black;
      margin: 20px;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    }

    > * {
      width: 100%;
    }

    .button-container {
      flex-direction: column;
      width: 100%;
      gap: 15px;
      padding: 20px;

      > button {
        width: 100%;
        font-size: 24px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        letter-spacing: 2px;
      }
    }
  }

  .side-buttons {
    display: none;
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 65px;
    gap: 10px;

    .iconpanel, img {
      width: 65px;
      height: 65px;
      transition: all 0.2s ease;

      &:not(.disabled) {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          sound-in: "ui.button.deny";
        }
      }

      &.disabled {
        opacity: 0.2;
      }
    }
  }

  .socials {
    font-size: 24px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 15px;

    > .iconpanel, img {
      pointer-events: all;
      width: 60px;
      height: 60px;
      font-size: 60px;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
        opacity: 0.5;
        cursor: pointer;
      }

      &:active {
        sound-in: "ui.button.deny";
        transform: scale(0.95);
      }
    }
  }
  
  .active-tip {
    bottom: 50px;
    position: absolute;
    font-size: 25px;
    color: white;
    z-index: 1;
  }

  .web-container {
    pointer-events: all;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(40px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    > WebPanel {
      width: 90%;
      height: 90%;
    }

    > button {
      width: 90%;
    }

    &.hidden {
      opacity: 0;
    }
  }
}