MapInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.9);
  backdrop-filter: blur(50px);
  
  > .map {
    width: 55%;
    height: 65%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid white;
    
    > .tab-selection {
      width: 100%;
      justify-content: space-between;
      gap: 10px;
      
      > button {
        width: 100%;
      }
    }
    
    > .tabs {
      width: 100%;
      height: 100%;
      
      > .tab {
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;

        > .title {
          font-size: 45px;
          font-weight: 500;
          text-shadow: 0 1px 3px black;
          flex-shrink: 0;
          margin: 10px;
        }
        
        .subtab-selection {
          width: 100%;
          justify-content: space-between;
          flex-shrink: 0;
          gap: 10px;
          margin-top: 5px;
          
          button {
            width: 100%;
          }
        }
        
        .subtab {
          width: 100%;
          height: 100%;
          flex-direction: column;
        }

        .sub-title {
          font-size: 40px;
          flex-shrink: 0;
          margin: 10px;
        }

        .leaderboard {
          width: 100%;
          flex-direction: column;
          overflow-y: scroll;
          flex-grow: 1;

          .entry {
            width: 100%;
            height: 65px;
            padding: 5px;
            flex-shrink: 0;
            align-items: center;

            .entry-rank {
              width: 50px;
              font-weight: 200;
              font-size: 20px;
              margin: 10px;
            }

            .entry-displayname {
              font-size: 24px;
              margin: 10px;
              flex-grow: 1;
            }

            .entry-avatar {
              width: 50px;
              height: 50px;
              border-radius: 4px;
            }

            .entry-value {
              font-size: 20px;
              margin-right: 10px;
            }

            &.gold {
              .entry-displayname {
                color: #FFD700;
              }
            }

            &.silver {
              .entry-displayname {
                color: #C0C0C0;
              }
            }

            &.bronze {
              .entry-displayname {
                color: #CD7F32;
              }
            }

            &.me {
              .entry-displayname {
                color: brown;
              }
            }
          }
        }

        > .map-description {
          flex-grow: 1;
          align-items: center;
          font-size: 25px;
          text-align: center;
          margin: 10px;
        }

        > .map-difficulty {
          font-size: 40px;
          text-shadow: 0 1px 3px black;
        }
        
        > .button-container {
          width: 100%;
          flex-grow: 1;
          flex-direction: column;
          margin-top: 10px;
          gap: 10px;
          flex-shrink: 0;
          justify-content: flex-end;

          > button {
            width: 100%;
          }
        }
        
        &.hidden {
          display: none;
        }
      }
    }
  }
}