Alert {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 10%;
  top: 50px;
  font-size: 30px;
  font-weight: 200;
  font-family: "IBM Plex Mono";
  text-stroke: 2px black;
  text-shadow: 0 2px 2px black;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 4px 0 gray;
  transition: opacity 1s linear;
  opacity: 1;
  
  &.hidden {
    opacity: 0;
  }
}