@using System
@using Sandbox.UI
@using Observation

@namespace Observation.UI
@attribute [Hud( true )]
@inherits Panel

<root>
	@foreach ( var anomalyType in Enum.GetValues<Anomaly.AnomalyType>() )
	{
		<button onclick="@( () => Report( anomalyType ) )">@anomalyType.GetName()</button>
	}
</root>

@code {
	#nullable enable

	public Action<Anomaly.AnomalyType>? OnReport;

	public void Report( Anomaly.AnomalyType type )
	{
		OnReport?.Invoke( type );
		this.Hide();
	}
}
