Cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 6;

  .hold-circle {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    transform-origin: center;
  }

  .outer-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 1px 1px black;
  }
}
