@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud( true )]
@inherits Panel

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<label class="title">Game Paused</label>
	<div class="button-container">
		<button icon="arrow_back" @onclick="@Return">Return</button>
		<button icon="refresh" @onclick="@Restart">Restart</button>
		<button icon="settings" @onclick="@Settings">Settings</button>
		<button icon="home" @onclick="@Menu">Main Menu</button>
	</div>
	
	<Settings @ref="_settings"></Settings>
</root>
