@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud]
@inherits Panel

@if ( !CameraManager.IsValid() )
{
	return;
}

@* ReSharper disable CSharpWarnings::CS8974 *@
<root>
	<div class="buttons">
		<button @onclick="@LastCamera">&lt;</button>
		<button @onclick="@NextCamera">&gt;</button>
	</div>
</root>
