@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud]
@inherits Panel

@if ( !GameTimer.Instance.IsValid() )
{
	return;
}

<root class="@(ActiveCameraHasName ? "active-camera-has-name" : "")">
	<label class="timer">@( ElapsedTime )</label>
	@if ( ActiveCameraHasName )
	{
		<label class="camera-name">@( CameraManager.Instance.ActiveCamera.Name )</label>
	}
</root>
