Timer {
  position: absolute;
  width: 275px;
  right: 50px;
  bottom: 50px;
  font-size: 48px;
  color: white;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px black;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-family: "IBM Plex Mono";
  font-weight: 300;
  letter-spacing: 0.05em;
  text-shadow: 0 2px 2px black;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-direction: column;
  
  > * {
    width: 100%;
    text-align: center;
  }
  
  .timer {
    border-bottom: 2px solid white;
  }
  
  .camera-name {
    margin-top: 6px;
    font-size: 25px;
  }
}