@using Sandbox.UI;

@namespace Observation.UI
@attribute [Hud]
@inherits Panel

@if ( !GameTimer.Instance.IsValid() )
{
	return;
}

<root>
	<label class="timer">@( ElapsedTime )</label>
	@if ( !string.IsNullOrEmpty( CameraManager.Instance?.ActiveCamera?.Name ) )
	{
		<label class="camera-name">@( CameraManager.Instance.ActiveCamera.Name )</label>
	}
</root>
