@using System
@using Sandbox.UI

@namespace Observation.UI
@attribute [Hud]
@inherits Panel

@{
	var timerInstance = Observation.GameTimer.Instance;
	if ( !timerInstance.IsValid() )
		return;
}

<root>
	<label class="timer">@ElapsedTime</label>
	@if ( CameraManager.Instance?.ActiveCamera is { Name: { } cameraName } )
	{
		<label class="camera-name">@cameraName</label>
	}
</root>

@code {
	#nullable enable
	private static Observation.GameTimer? TimerInstance => Observation.GameTimer.Instance;
	private static string ElapsedTime => TimerInstance?.GetDisplayTime() ?? "N/A";

	protected override int BuildHash()
	{
		return HashCode.Combine( TimerInstance?.SinceStart.Relative );
	}
}
