{
  "Actions": [
    {
      "Name": "NextCamera",
      "KeyboardCode": "d",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "LastCamera",
      "KeyboardCode": "a",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    }
  ],
  "__guid": "8306ba8a-e786-4604-9fb0-2515b38aa871",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}